@import "../../../assets/globals";

.home {
  height: 100%;
  display: grid;
  grid-template-rows: 25px 60% repeat(4, 25px);
  grid-template-columns: 1fr 1fr 1fr;
}

.centered {
  grid-column: 2 / 3;
  margin: auto auto;
  max-width: 350px;
}

.mainIcon {
  grid-row: 2 / 3;
}

.home2 {
  grid-row: 4 / 5;
}

.home3 {
  grid-row: 6 / 6;
}
