@import "../../assets/globals";

$text-color: #40916c;

header {
  background-color: rgba(239, 250, 241, 0.55);
  // border: 1px solid white;
  color: $text-color;
  text-align: center;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  font: 20px "NunitoBoldItalic", sans-serif;

  h1 {
    margin: 0 auto;
  }

  a {
    color: $text-color;
    transition: color 0.3s ease;

    &:hover {
      color: lighten($text-color, 35%);
    }
  }

  ul {
    display: flex;
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      padding: 0px 10px;
    }
  }
}

.logo,
.links {
  display: flex;
  align-items: center;
  gap: 25px;
}
