* {
    box-sizing: border-box;
}
.container {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    
}

.card {
    justify-content: center;
    border: solid 3px black;
    padding: 15px;
}

.cardImg {
    width: 375px;
    border: solid 2px black;
    margin-top: 20px;
}

.drinkName {
    border: solid 2px black;
    padding: 10px 0px;
    margin-left: 34px;
    width: 375px;
    justify-content: center;
    font-weight: bold;
}

.category {
    border: solid 2px black;
    padding: 10px 0px;
    margin-left: 34px;
    width: 375px;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
}

.ingredients {
    border: solid 2px black;
    padding: 10px 0px;
    margin-left: 34px;
    width: 375px;
    justify-content: center;
    font-size: 18px;
    padding-bottom: 30px;
    font-weight: bold;
}

.detailButton {
    margin-top: 15px;
}


